body{
    background:red;
}
h1{
    background:#1d4b25;
    text-align: center;
    font-family: Georgia;
    font-size: 20px;
    color: white;
    margin: unset;
    padding: 20px 50px;
}



select{

    font-family: Georgia;
    text-align: center;
    font-size: 15px;
    display: block;
    width: 25%;
}

label{
    font-family: Georgia;
    text-align: center;
    font-size: 15px;
    display: block;
    width: 50%;
    margin: 20px;
    color: white;

}

input{
    width: 20%;
    font-size: 15px;
    text-align: center;
    display: block;

}
.bot{
    margin-top: 20px;
}
input[type="submit"]{
    background: white;
    color: black;
    border: none;
    font-family: Georgia;
    font-size: 15px;
}

input[type= "submit"]:hover {
    background:red;
}
a{
    margin: 10px ;
    padding: 10px;
    color: white;
}