body{
    background-origin: initial;
    margin: 0px;
   
     background-image: url("../images/dos.jpg");
    background-size: cover;
    }
.IN{
    text-align: center;
}
.MENU{
    background-image: url("../images/azul.jpg");
    
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;

}
.box{
    text-align: left;
}
.buscar{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: fixed;
  }
  .buscar.icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
  }
.MENU li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;

}
.MENU li a{
    text-decoration: none;
    color: black;
}
.MENU li>a:hover{
   
    border-radius: 0.5vw;
    width:10vw;
    color: yellowgreen;
    background-color: white;
}
.MENU>li>ul{
    display: none;
}
.MENU>li:hover>ul{
    display: block;
}
.texto{
    font-style: italic;
    background-color:floralwhite;

}
.inicio{
    background-color: rgba(0, 0, 0, 0.10);
    color:white;
    list-style-type: none;
    font-family: Bromello ;
    
    text-align: left;
    width: 90vw;
    height: 30vw;
    margin: 5vw;
   
 
}
.imagen{
    float:right;
    width: 50;
    height: 30%;
    margin: 30;
    padding: 20;
  background-image: url("../images/virus.jpg");
}
.circulo {
    margin:auto;
    justify-content:center;
    width: 200px;
    height: 200px;
    -moz-border-radius: 84%;
    -webkit-border-radius: 84%;
    border-radius: 50%;
    background-image: url("../images/imagen3.png");
    background-size: cover;
    
}
.nombre{
    margin: auto;
    color:white;
}
.hola{
    background-image: url("../images/verde.jpg");
    
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;

}
.hola li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;

}
.hola li a{
    text-decoration: none;
    color: black;
}
.hola li>a:hover{
   
    border-radius: 0.5vw;
    width:10vw;
    color: yellowgreen;
    background-color: white;
}
.hola>li>ul{
    display: none;
}
.hola>li:hover>ul{
    display: block;
}
.menu-main{
    display: flex;
    justify-content: space-between;
    background: #3b5998;
    border-bottom: 1px solid #29487d;
    height: 45px;
}

.menu-main a{
    flex: 1;
    font-family: arial;
    display: flex;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;    
    justify-content: center;
    align-items: center;
}

.menu-main a:hover{
    background: rgba(0,0,0, .1);
}

.menu-main a.active{
    background-color: #29487d;
}

@media (max-width: 768px) {
    
    .menu-main{
        height: auto;
        border-bottom: 0px;
        display: block;
    }
    
    .menu-main a{
        height: 45px;
        border-bottom: 1px solid #29487d;
    }

}