
body{
    background:red;

}


header{
    width: 90%;
    max-width: 100%;
    margin: 20px auto ;

}


form{

    width: 100%;
    max-width: 600px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
}
label,label{
    font-family: Georgia;
    text-align: center;
    font-size: 15px;
    display: block;
    width: 100%;
    color: white;
}

input{
 margin-bottom: 20px;
 width: 50%;
 font-size: 15px;
 text-align: center;
}
header nav {
    background: rgba(16, 81, 212, 0.83);
    overflow: hidden;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    float: left;
}
header nav ul li a {
    padding: 10px 20px;
    display: block;
    color: #fff;
    text-decoration:none;
    font-family: Georgia;
}
nav ul li a :hover{
    background: #75ACEC;
}

input[type="submit"]{
    margin-bottom: 0;
    background: rgba(21,85,189,0.83);
    color: #fff;
    border: none;
    font-family: Georgia;
    font-size: 15px;
}

input[type= "submit"]:hover {
    background: #4a88f4;
}



