body{
    background: red;
}

.contenedor{
    width: 100%;

}

h1{
    background: #1d4b25;
    text-align: center;
    font-family: Georgia;
    font-size: 20px;
    margin: unset;
    color: white;
    padding: 20px 50px;
}

form{
    width: 50%;
    text-align: center;
    padding: 20px 11px;
    right: 50%;
}

label{
    width: 50%;
    padding: 20px 44px;
    font-family: Georgia;
    font-size: 15px;
    color: white;

}
input{
    margin-bottom: 20px;
    width: 20%;
    font-size: 15px;
    text-align: center;
    display: block;
    margin: auto auto 5px;


}

input[type="submit"]{
    margin-bottom: 0;
    background: bisque;
    color: black;
    border: none;
    font-family: Georgia;
    font-size: 15px;
}

input[type= "submit"]:hover {
    background: #75ACEC;
}
a{
    margin: 10px ;
    padding: 10px;
}