body{
    background: powderblue;
}
h1{
    background: #ffe4c4;
    text-align: center;
    font-family: Georgia;
    font-size: 20px;
    margin: unset;
    padding: 20px 50px;
}



select{

    font-family: Georgia;
    text-align: center;
    font-size: 15px;
    display: block;
    width: 25%;
}

label{
    font-family: Georgia;
    text-align: center;
    font-size: 15px;
    display: block;
    width: 50%;
    margin: 20px;

}

input{
    margin-bottom: 20px;
    width: 20%;
    font-size: 15px;
    text-align: center;


}

input[type="submit"]{
    margin-bottom: 0;
    background: bisque;
    color: black;
    border: none;
    font-family: Georgia;
    font-size: 15px;
}

input[type= "submit"]:hover {
    background: #75ACEC;
}
a{
    margin: 10px ;
    padding: 10px;
}