body{
    background:#1d4b25;
}


header{
    width: 90%;
    max-width: 100%;
    margin: 20px auto ;

}


form{

    width: 100%;
    max-width: 600px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
}
label,label{
    font-family: Georgia;
    text-align: center;
    font-size: 15px;
    display: block;
    width: 100%;


}

input{
    margin-bottom: 20px;
    width: 50%;
    font-size: 15px;
    text-align: center;
}
header nav {
    background: red;
    overflow: hidden;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    float: left;
}
header nav ul li a {
    padding: 10px 20px;
    display: block;
    color: #fff;
    text-decoration:none;
    font-family: Georgia;
}
nav ul li a :hover{
    background: #75ACEC;
}
.cuerpo{
    margin:auto;
    background: white;
    width: 50%;
    padding:5px;
}
.imagen{
    display: block;
    margin-top:30px;
}
.texto{
    text-align: center;
    color: #4b4029;
}