body{
    background: red;
}


h1{
    text-align: center;
    font-size: 20px;
    font-family: Georgia;
    background: bisque;
    padding: 20px 50px;

}

label{
 font-size: 15px;
 font-family: Georgia;
 width: 50%;
 margin: 20px;
    color: white;
    display: block;


}
input{
    margin: 20px;
    font-family: Georgia;
    font-size: 15px;
    text-align: center;
}

a{
 color: white;
  font-size: 15px;
    font-family: Georgia;
}